@import "../../../styles/media";
@import "../../../styles/variables";

:local {
   .menu {
      padding: 0 10px;
      font-weight: 400;
      font-family: $font-inter;

      @include media("max", "md") {
         display: none;
      }
   }
   
   .menuList {
      display: flex;
   }

   .subMenuList {
      display: none;
   }

   .menuListItem {
      position: relative;
      padding: 20px 5px;
      opacity: .6;
      transition: opacity .3s ease;

      &:after {
         content: ''; 
         position: absolute; 
         right: 10px;
         bottom: 22px;
         border: 6px solid transparent;
         border-top: 6px solid $white;
         border-radius: 3px;

         @include media("max", "lg") {
            display: none;
         }
      }
      &:before {
         content: '';
         position: absolute;
         bottom: 0;
         left: 0;
         width: 100%;
         height: 4px;
         background: none;
      }

      &.active {
         opacity: 1;
         transition: opacity .3s ease-out;

         &:before {
            background-color: $main-violet;
         }
      }

      &:hover, &:focus {
         opacity: 1;
         transition: opacity .3s ease-out;

         &:before {
            background-color: $main-violet;
         }

         .subMenuList {
            display: flex;
            flex-direction: column;
            position: absolute;
            left: -12px;
            top: 75px;
            padding: 16px;
            min-width: 208px;
            border-radius: 14px;
            background-color: $main-black;

            &:before {
               content: '';
               position: absolute;
               top: -100%;
               left: 0;
               width: 50%;
               height: 100%;
               background-color: transparent;
               cursor: pointer;
            }
         }

         .subMenuListItem {
            opacity: .6;
            cursor: pointer;
            transition: opacity .3s ease;

            &:hover {
               opacity: 1;
            }

            &:not(:last-child) {
               margin-bottom: 6px;
            }
         }
      }
   }

   .menuList .menuListItem {
      //padding-right: 50px;
      padding-right: 30px;
      margin-right: 20px;

      @include media("max", "lg") {
         padding-right: 20px;
      }
   }

   .disabled {
      &:after {
         display: none;
      }

      &.menuListItem {
         padding-right: 0;
         margin-right: 50px;

         @include media("max", "lg") {
            padding-right: 0;
            margin-right: 20px;
         }
      }
   }

   .link {
      position: relative;
      z-index: 1;
   }
}