@import "../../../styles/media";
@import "../../../styles/variables";

:local {
  .button {
    padding: 16px 32px;
    box-sizing: border-box;
    border-radius: 14px;
    font-size: 20px;
    line-height: 100%;
    background: $main-violet;
    color: $white;
    font-family: $font-inter;

    @include media("max", "sm") {
     min-width: 100%;
    }
  }
}