@import "../../../styles/media";
@import "../../../styles/variables";

:local {
   .promo {
      margin: 129px 0 0;
      height: 600px;

      @include media("max", "xxl") {
         margin: 86px 0 0;
      }
      @include media("max", "xl") {
         height: 400px;
      }
      @include media("max", "md") {
         height: 600px;
      }
      @include media("max", "md") {
         margin: 40px 0;
      }
   }

   .promoWrapper {
      min-height: 100%;
      display: flex;

      @include media("max", "md") {
         flex-direction: column;
      }
   }

   .promoTextColumn {
      flex: 1 1 50%;

      &:first-child {
         padding-right: 20px;

         @include media("max", "md") {
            flex: 0 1 100%;
            padding-right: 0;
            margin-bottom: 20px;
         }
      }
   }

   .promoTextTitle {
      margin-bottom: 30px;
      font-size: 80px;
      line-height: 110%;
      font-weight: 600;
      color: $main-black;
      font-family: $font-inter;

      @include media("max", "xxl") {
         margin-bottom: 32px;
      }
      @include media("max", "xl") {
         font-size: 44px;
      }
      @include media("max", "md") {
         margin-bottom: 20px;
      }
   }

   .promoTextDescription {
      padding-bottom: 73px;
      font-size: 20px;
      line-height: 24px;
      color: $main-black;
      font-weight: 600;
      font-family: $font-inter;

      @include media("max", "md") {
         font-size: 20px;
      }
   }

   .promoImgColumn {
      position: relative;
      flex: 1 1 50%;

      @include media("max", "md") {
         flex: 1 1 100%;
         overflow: hidden;
      }
      @include media("max", "md") {
         overflow: visible;
      }
   }

   .promoImg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-62%, -43%);
      width: 100%;
      min-width: 1002px;

      @include media("max", "xxl") {
         transform: translate(-60.6%, -44.8%);
         min-width: 860px;
      }
      @include media("max", "xl") {
         top: 57%;
         min-width: 600px;
      }
      @include media("max", "md") {
         top: 60%;
         min-width: 100%;
      }
   }
}