@import "../../../styles/media";

:local {
   .promo {
      margin: 145px 0 0;
      height: 600px;

      @include media("max", "xl") {
         height: 400px;
      }
      @include media("max", "md") {
         height: 600px;
      }
      @include media("max", "md") {
         margin: 40px 0;
      }
   }

   .promoWrapper {
      min-height: 100%;
      display: flex;

      @include media("max", "md") {
         flex-direction: column;
      }
   }

   .promoTextColumn {
      flex: 1 1 50%;

      &:first-child {
         padding-right: 20px;

         @include media("max", "md") {
            flex: 0 1 100%;
            padding-right: 0;
            margin-bottom: 20px;
         }
      }
   }

   .promoTextTitle {
      margin-bottom: 30px;
      font-size: 80px;
      line-height: 100%;
      font-weight: 400;
      color: #101019;
      font-family: 'Roboto', sans-serif;  

      @include media("max", "xl") {
         font-size: 44px;
      }
      @include media("max", "md") {
         margin-bottom: 20px;
      }
   }

   .promoTextDescription {
      padding-bottom: 60px;
      font-size: 20px;
      line-height: 24px;
      color: #101019;
      font-family: 'Roboto', sans-serif;  

      @include media("max", "md") {
         font-size: 20px;
      }
   }

   .promoImgColumn {
      position: relative;
      flex: 1 1 50%;

      @include media("max", "md") {
         flex: 1 1 100%;
         overflow: hidden;
      }
      @include media("max", "md") {
         overflow: visible;
      }
   }

   .promoImg {
      position: absolute;
      top: 50%;
      left: 50%;
      //transform: translate(-50%, -50%);
      transform: translate(-60%, -47%);
      width: 100%;
      //min-width: 145%;
      min-width: 1000px;

      @include media("max", "xl") {
         top: 57%;
         min-width: 600px;
      }
      @include media("max", "md") {
         top: 60%;
         min-width: 100%;
      }
   }
}