@import "../../../styles/media";
@import "../../../styles/variables";

:local {
    .header {
        margin: 8px 8px 0 8px;
        border-radius: 14px;
        background: $main-black;
        color: $white;
        box-shadow: 0 4px 20px rgba(14, 6, 35, .25);
    }

    .headerContentWrapper {
        position: relative;
        z-index: 1;
        min-height: 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            line-height: normal;
        }
    }
}